RewriteEngine On
RewriteBase /dev/
RewriteRule ^([^/]*)/$ index.php?view=tag&option=$1 [L]
RewriteRule ^([^/]*)/([^/]*)\.html$ index.php?view=$1&option=$2 [L]
RewriteRule ^([^/]*)\.html$ index.php?view=$1 [L]
